h1,h2,h4,h5,h6,a{
	font-size:15px;
	margin:0;
}
body {
  background-color: #fafafa;
}
.container-fluid
{
  background-color: #196F3D  ;
}

.card-container {
  height: 250px;
  width: 250px;
  position: relative;
  background-color: #fafafa;
  overflow: hidden;
  z-index: 20;
  box-shadow: 2px 2px 2px #B3B3B3;
}

.card-container-shopping-list{
  height: 500px;
  width: 100%;
  background-color: white;
}


.pricebox {
  height: 50px;
  width: 100px;
  position: absolute;
  background-color: #FF5351;
  display: table;
}
.price {
  display: table-cell;
  vertical-align: middle;
  color: white;
  font-family: Oswald;
  font-size: 20px;
  text-align: center;
}

.buybox {
  height: 50px;
  width: 100%;
  position: absolute;
  background-color: #F5B041;
  display: table;
  bottom: 0;
}

.add-to-cart {
  display: table-cell;
  vertical-align: middle;
  color: white;
  font-family: Oswald;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
}
.instock{

  background-color:#F5B041 
}

.card {
  display: table;
  height: 100%;
  width: 100%;
}

.product-overlay {
  height: 100%;
  width: 100%;
  z-index: 10;
  position: absolute;
}

.card-inner {
  display: table-cell;
  vertical-align: middle;
}


.proimage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height: 90%;
  max-width: 90%; 
}

.page-header {
  text-align: center;
  font-family: Oswald;
  margin: 10px;
  margin-top: 60px;
}

.cart-title {
  text-align: center;
  font-weight: bold;
}

.show {
  display: block;
}

.clear-cart {
  width: 100%;
}

.blocks {
  display: flex;
  flex-wrap: wrap;
  flex: 1 0 25%;
  box-sizing: border-box;
  margin-top: 50px;
}

.column {
  /* margin: 10px; */
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
}

.column:first-of-type {
  flex-grow: 2;
  flex-shrink: 2;
  flex-basis: 0;
}


.parent {
  display: flex;
  font-size: 0;
  flex-wrap: wrap;
  margin: -10px 0 0 -10px;
  align-items: center;
}

.child {
  display: inline-block;
  margin: 10px 0 0 10px;
  background-color: rgba(12, 12, 11, 0);
  flex-grow: 1;
  align-items: center;
}


img {
  max-width: 100%;
  max-height: 100%;
}

#container {
  margin-top: 50px;
}

#container ul { list-style: none; }

#container .buttons { margin-bottom: 20px; }

#container .list li { 
  width: 100%; 
  border: 1px  #080000; 
  padding: 15px;
}

#container .grid li { 
  float: left; 
  width: 33%;
  padding: 10px;
  border: 1px  #CCC;
}

#container .grid .card-container{ 
  background-color: rgba(14, 14, 13, 0);
  width: 100%;
  height: 400px;
  margin: auto;
  
}

#container .list .card-container {
  background-color: #fff;
  width: 100%;
  margin: auto; 
  padding-left: 10px;
height:150px;
}

#container .grid img {
  max-width: 100%;
  max-height: 50%;
}

#container .list img {
  max-width: 100%;
  max-height: 100%;
}

.grid .parent {
  flex-wrap: wrap;
}

.grid .child img {
  height: 200px;
  width: 100%;
}

.list .parent {
  flex-wrap: nowrap;
  
}

.list .child {
  flex-basis: 33%;
  
}

.counter {
  padding: 5px;
 background-color: #fff

}
